@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}


.main {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #BCAAA4;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #8f3c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile {
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #333;
  display: block;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.try-it-out {
  margin-bottom: 10px; /* Adjust the top margin as needed */
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: #333;
}

.quote {
  margin: 20px 0;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  width: 310px;
  height: 310px;
  margin: 1em;
  padding: 0;
  perspective: 1500px;
  border: 2px solid #333;
  /* Add this line to create a border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Add this line for a box shadow */
  border-radius: 10px;


}

.card .front {
  background-size: 100% 100%;
  background: rgba(255, 255, 255, 0.0);
  background-size: cover;
  background-position: center center;
}

.card .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.card .more {
  display: none;
}

.card .more:checked~.content {
  transform: rotateY(180deg);
}

.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}

.card .inner {
  height: 100%;
  display: flex;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card .front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}

.card .front:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
}

.card .front h2 {
  grid-row: 2;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #686868;
  font-weight: 570;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  margin-top: 230px;
}

.card .back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid rgb(240, 240, 240);
}

.card .back h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #355cc9;
  font-weight: 450;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.card .back .description {
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1.4em;
  color: black;
  white-space: pre-line;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 20px;
  /*Adds a 20-pixel margin at the bottom of <p> elements  */
  /* margin: -30px 0 10px;  */
  /* margin-bottom: 40px; */
  font-family: 'Montserrat', sans-serif;
}

.card .back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
  position: relative;
}

.card .back .inner .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Add this line */

}



.card .back .inner .button:hover {
  background-color: #fff;
  box-shadow: none;
  text-shadow: none;
  color: #355cc9;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

#back-button {
  position: fixed;
  margin-bottom: 10px;
  margin-right: 90px;
  background-color: rgb(29, 112, 112);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.card1 .front {
  background-image: url('Trikonasana.jpg');
}

.card2 .front {
  background-image: url('Naukasana.png');
}

.card3.front {
  background-image: url('Bhujangasana.png');
}

.card5.front {
  background-image: url('Shavasana.png');
}


.card7.front {
  background-image: url('Vrikshasana.png');
}

.card8.front {
  background-image: url('Sukhasana.png');
}

.card9.front {
  background-image: url('Chakrasana.png');
}

.card4.front {
  background-image: url('Balasana.png');
}



.button.view-details {
  position: absolute;
  bottom: -30px;
  /* Adjust the desired distance from the bottom */
  left: 50%;
  /* Center horizontally within the .button-container */
  transform: translateX(-50%);
  /* Center horizontally */
  width: 200px;
  /* Set the desired width */
  height: 40px;
  /* Set the desired height */
  text-align: center;
  /* Center text horizontally within the button */
  line-height: 40px;
  /* Center text vertically within the button */

  border: 2px solid black;
  /* Add this line to create a white border */
  color: black;


}


.card .more:hover~.content {
  transform: rotateY(180deg);
}

.card .back .inner .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -30px;
}

.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.card .content:hover {
  transform: rotateY(180deg);
}

/* .card .back .inner .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -30px;
  } */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Adjust the alignment as needed */
  margin: 0 -15px;
  /* Add negative margin to space out the cards */
}

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--secondary-color);
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.link a:hover::after {
  width: 50%;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "FITNESS";
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--white);
  opacity: 0.05;
  z-index: -1;
}

.header__blur {
  bottom: 5rem;
  right: 0;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--white);
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--secondary-color);
  opacity: 0.1;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin: auto;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 500px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  border-radius: 10px;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

.join__image {
  margin-top: 4rem;
  position: relative;
}

.join__image img {
  border-radius: 10px;
}

.join__grid {
  position: absolute;
  bottom: -5rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--primary-color-light);
  border-radius: 10px;
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.join__card p {
  color: var(--text-light);
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--primary-color-extra-light);
  border-color: var(--secondary-color);
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.price__card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.price__btn {
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.price__btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.review {
  background-color: var(--primary-color-light);
}

.review__container {
  display: flex;
  gap: 2rem;
}

.review__container > span {
  font-size: 6rem;
  color: var(--secondary-color);
  opacity: 0.5;
}

.review__content {
  flex: 1;
}

.review__content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.review__content p {
  max-width: 800px;
  margin-bottom: 2rem;
  color: var(--text-light);
}

.review__rating span {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.review__footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.review__member {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.review__member img {
  max-width: 60px;
  border-radius: 100%;
}

.review__member__details h4 {
  margin-bottom: 0;
}

.review__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review__nav span {
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__blur {
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col > a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    grid-area: 1/1/2/2;
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .class__image {
    min-height: 500px;
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .review__container {
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px) {
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .join__container {
    margin-bottom: 15rem;
  }

  .join__grid {
    width: 100%;
    margin: 0;
    bottom: -20rem;
  }

  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .review__container {
    flex-direction: column;
    gap: 0;
  }

  .review__footer {
    flex-direction: column;
  }

  .footer__container {
    grid-template-columns: 1fr 150px;
  }

  .footer__bar {
    text-align: center;
  }
}