<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoga Asanas</title>
    <link rel="stylesheet" type="text/css" href="static\\yoga-style.css">
</head>
<body>
    
    <nav>
        <div class="nav__logo">
          <a href="#"><img src="static/img/logo.png" alt="logo" /></a>
        </div>
        <ul class="nav__links">
          <li class="link"><a href="#home">Home</a></li>
          <li class="link"><a href="#program">Program</a></li>
          <li class="link"><a href="#service">Service</a></li>
          <li class="link"><a href="#about">About</a></li>
          <li class="link"><a href="#community">Community</a></li>
        </ul>
        <button class="btn">Join Now Today</button>
      </nav>

      <header id="home" class="section__container header__container">
        <div class="header__content">
          <span class="bg__blur"></span>
          <span class="bg__blur header__blur"></span>
          <h4>BEST FITNESS IN THE TOWN</h4>
          <h1><span>MAKE</span> YOUR BODY SHAPE</h1>
          <p>
            Hello this is the name of capstone-project
          </p>
          <button class="btn">Get Started</button>
        </div>
        <div class="header__image">
          <img src="static/img/header.jpg" alt="header" />
        </div>
      </header>
  
      <section id="program" class="section__container explore__container">
        <div class="explore__header">
          <h2 class="section__header">EXPLORE OUR PROGRAM</h2>
          <div class="explore__nav">
            <span><i class="ri-arrow-left-line"></i></span>
            <span><i class="ri-arrow-right-line"></i></span>
          </div>
        </div>
        <div class="explore__grid">
          <div class="explore__card">
            <span><i class="ri-boxing-fill"></i></span>
            <h4>Strength</h4>
            <p>
              Embrace the essence of strength as we delve into its various
              dimensions physical, mental, and emotional.
            </p>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
          </div>
          <div class="explore__card">
            <span><i class="ri-heart-pulse-fill"></i></span>
            <h4>Physical Fitness</h4>
            <p>
              It encompasses a range of activities that improve health, strength,
              flexibility, and overall well-being.
            </p>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
          </div>
          <div class="explore__card">
            <span><i class="ri-run-line"></i></span>
            <h4>Fat Lose</h4>
            <p>
              Through a combination of workout routines and expert guidance, we'll
              empower you to reach your goals.
            </p>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
          </div>
          <div class="explore__card">
            <span><i class="ri-shopping-basket-fill"></i></span>
            <h4>Weight Gain</h4>
            <p>
              Designed for individuals, our program offers an effective approach
              to gaining weight in a sustainable manner.
            </p>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
          </div>
        </div>
      </section>
  
      <section id="service" class="section__container class__container">
        <div class="class__image">
          <span class="bg__blur"></span>
          <img src="static/img/class-1.jpg" alt="class" class="class__img-1" />
          <img src="static/img/class-2.jpg" alt="class" class="class__img-2" />
        </div>
        <div class="class__content">
          <h2 class="section__header">THE CLASS YOU WILL GET HERE</h2>
          <p>
            Led by our team of expert and motivational instructors, "The Class You
            Will Get Here" is a high-energy, results-driven session that combines
            a perfect blend of cardio, strength training, and functional
            exercises. Each class is carefully curated to keep you engaged and
            challenged, ensuring you never hit a plateau in your fitness
            endeavors.
          </p>
          <button class="btn">Book A Class</button>
        </div>
      </section>
  
      <section id="about" class="section__container join__container">
        <h2 class="section__header">WHY JOIN US ?</h2>
        <p class="section__subheader">
          Our diverse membership base creates a friendly and supportive
          atmosphere, where you can make friends and stay motivated.
        </p>
        <div class="join__image">
          <img src="static/img/join.jpg" alt="Join" />
          <div class="join__grid">
            <div class="join__card">
              <span><i class="ri-user-star-fill"></i></span>
              <div class="join__card__content">
                <h4>Personal Trainer</h4>
                <p>Unlock your potential with our expert Personal Trainers.</p>
              </div>
            </div>
            <div class="join__card">
              <span><i class="ri-vidicon-fill"></i></span>
              <div class="join__card__content">
                <h4>Practice Sessions</h4>
                <p>Elevate your fitness with practice sessions.</p>
              </div>
            </div>
            <div class="join__card">
              <span><i class="ri-building-line"></i></span>
              <div class="join__card__content">
                <h4>Good Management</h4>
                <p>Supportive management, for your fitness success.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section id="community" class="section__container price__container">
        <h2 class="section__header">OUR PRICING PLAN</h2>
        <p class="section__subheader">
          Our pricing plan comes with various membership tiers, each tailored to
          cater to different preferences and fitness aspirations.
        </p>
        <div class="price__grid">
          <div class="price__card">
            <div class="price__card__content">
              <h4>Basic Plan</h4>
              <h3>$16</h3>
              <p><i class="ri-checkbox-circle-line"></i> Smart workout plan</p>
              <p><i class="ri-checkbox-circle-line"></i> At home workouts</p>
            </div>
            <button class="btn price__btn">Join Now</button>
          </div>
          <div class="price__card">
            <div class="price__card__content">
              <h4>Weekly Plan</h4>
              <h3>$25</h3>
              <p><i class="ri-checkbox-circle-line"></i> PRO Gyms</p>
              <p><i class="ri-checkbox-circle-line"></i> Smart workout plan</p>
              <p><i class="ri-checkbox-circle-line"></i> At home workouts</p>
            </div>
            <button class="btn price__btn">Join Now</button>
          </div>
          <div class="price__card">
            <div class="price__card__content">
              <h4>Monthly Plan</h4>
              <h3>$45</h3>
              <p><i class="ri-checkbox-circle-line"></i> ELITE Gyms & Classes</p>
              <p><i class="ri-checkbox-circle-line"></i> PRO Gyms</p>
              <p><i class="ri-checkbox-circle-line"></i> Smart workout plan</p>
              <p><i class="ri-checkbox-circle-line"></i> At home workouts</p>
              <p><i class="ri-checkbox-circle-line"></i> Personal Training</p>
            </div>
            <button class="btn price__btn">Join Now</button>
          </div>
        </div>
      </section>
      <h1>YOGA ASANAS</h1>
    <div class="wrapper">
          <!-- First row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card1" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Trikonasana.jpg');">
                          <div class="inner">
                              <h2>Trikonasana</h2>
                              
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It helps in reducing excess body weight, strengthens legs and arms, and helps in improving digestion.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card2" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Virabadrasana.png');">
                          <div class="inner">
                              <h2>Virabadrasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It strengthens legs, improves balance, enhances focus, and instills a sense of determination and resilience.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card3" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Vrikshasana.png');">
                          <div class="inner">
                              <h2>Vrikshasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It improves the strength of your back and legs and tends to improve your balance when practiced regularly.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <!-- Second row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card7" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image:url('static\\img\\Bhujangasana.png')">
                          <div class="inner">
                              <h2>Bhujangasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It Improves blood circulation and strengthens the lower back and muscles of your arms.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card8" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Sukhasana.png');">
                          <div class="inner">
                              <h2>Sukhasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It calms your mind and enhances your peace of mind. It also helps in improving body posture.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <input type="checkbox" id="card9" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image:url('static\\img\\Chakrasana.png');">
                          <div class="inner">
                              <h2>Chakrasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It cures back and kidney pain. It also helps in stimulating the thyroid and pituitary glands.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Third row of 3 cards -->
          <div class="row">
              <div class="card">
                  <input type="checkbox" id="card4" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Balasana.png');">
                          <div class="inner">
                              <h2>Balasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>This pose is mentally, physically, and emotionally relaxing.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <input type="checkbox" id="card5" class="more" aria-hidden="true">
                  <div class="content">
                      <div class="front" style="background-image: url('static\\img\\Shavasana.png');">
                          <div class="inner">
                              <h2>Shavasana</h2>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <div class="button-container">
                                  <div class="description">
                                      <p>It is a relaxation pose and hence relaxes the entire body. It improves memory and concentration and increases memory levels.</p>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
            <div class="try-it-out">
                <a href="{{ url_for('yoga_try') }}">
                    <button>Try Poses</button>
                </a>
                <button onclick="openWebsite()">Tutorials</button>
            </div>
            

    <script>
        function openWebsite() {
            // Replace the URL with the website you want to open
            window.location.href = "https://fit-nu-team.netlify.app/";
        }
    </script>
            
            </div>
  
      <footer class="section__container footer__container">
        <span class="bg__blur"></span>
        <span class="bg__blur footer__blur"></span>
        <div class="footer__col">
          <div class="footer__logo"><img src="static/img/logo.png" alt="logo" /></div>
          <p>
            Take the first step towards a healthier, stronger you with our
            unbeatable fitness programs!
          </p>
        </div>
        <div class="footer__col footer__links">
          <a href="#home">Home</a>
          <a href="#program">Program</a>
          <a href="#service">Service</a>
          <a href="#about">About</a>
          <a href="#community">Community</a>
        </div>
        <div class="footer__col footer__contact">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-instagram-fill"></i></a>
        </div>
      </footer>
</body>
</html>
